.Home{
    background-image: url(image/red-roses-bouquet-pink-background_913266-78269.avif);
background-repeat: no-repeat;
background-size:cover;
background-position: center;
    height:700px;
    
}
.body{
    background-color:rgb(238, 200, 243);

}
.container-fluid{
    background-color:rgb(238, 200, 243);
}
h1:hover{
    color: #d36a6a;
}
h4:hover{
    color: #0d4630;
}
.btn{
    color: antiquewhite;
}
@font-face{ font-family:"flower";
    src:url(dannia-roseline-font/DanniaRoselineDemo-4ndqK.ttf);

}
.navbar-brand{
    font-family:"flower";

}
.btn{
    background-color: #d36a6a;
}
.foot{
    background-color: #e64747;
}
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
  
    .fa {
    padding: 10px;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover {
      opacity: 0.7;
  }
  .fa-instagram {
    background: #b11831;
    color: white;}
    .fa-facebook {
    background: #3B5998;
    color: white;}
    @font-face{
        font-family:"home";
        src:url(blushline-script-font/Blushlinescript-rv5e7.otf)
    }
    .Home-content{
        font-family:"home";
    }
    @font-face {
        font-family: "title";
        src: url(comical-romance-font/ComicalRomanceRegular-wojZ3.ttf);
    }
    .pt-2{
        font-family: "title";
    }
    @font-face {
        font-family: "title";
        src: url(comical-romance-font/ComicalRomanceRegular-wojZ3.ttf);
    }
    .c{
        font-family: "title";
    }